In [1]:
import os
os.getcwd()

'C:\\Users\\Shreyasi\\Documents'

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import calendar
import datetime


df=pd.read_csv(r"C:\\Users\\Shreyasi\\Documents\weather.csv")
df["DATE/TIME"]=0
df["DATE/TIME"]=pd.to_datetime(df['DATE/TIME'])


df.head()

,DATE/TIME,TEMP�,DREW POINT,REL. HUMIDITY(%),WIND SPEED,VISIBILITY(K),STN PRESSURE(P),WEATHER
0,1970-01-01,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1970-01-01,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1970-01-01,-1.8,-3.4,89,7,4.0,101.26,"Freezing drizzle,fog"
3,1970-01-01,-1.5,-3.2,88,6,4.0,101.27,"Freezing drizzle,fog"
4,1970-01-01,-1.5,-3.3,88,7,4.8,101.23,fog

In [35]:
#provide basic information about the dataframe: rows,columns,types(if automatically detected)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, #### to ####
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TEMP�             29 non-null     float64
 1   DREW POINT        29 non-null     float64
 2   REL. HUMIDITY(%)  29 non-null     int64
 3   WIND SPEED        29 non-null     int64
 4   VISIBILITY(K)     29 non-null     float64
 5   STN PRESSURE(P)   29 non-null     float64
 6   WEATHER           29 non-null     object
dtypes: float64(4), int64(2), object(1)
memory usage: 1.8+ KB

In [55]:
#show the first N rows in the data (by default,N=5)
df.head()
#df[:5]

,DATE/TIME,TEMP�,DREW POINT,REL. HUMIDITY(%),WIND SPEED,VISIBILITY(K),STN PRESSURE(P),WEATHER
0,1970-01-01,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1970-01-01,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1970-01-01,-1.8,-3.4,89,7,4.0,101.26,"Freezing drizzle,fog"
3,1970-01-01,-1.5,-3.2,88,6,4.0,101.27,"Freezing drizzle,fog"
4,1970-01-01,-1.5,-3.3,88,7,4.8,101.23,fog

In [59]:
#find out different weather conditions available:
df['WEATHER'].unique()

array(['Fog', 'Freezing drizzle,fog', 'fog', 'mostly cloudy', 'cloudy',
       'rain', 'rain showers'], dtype=object)

In [62]:
#find the number of times when the weather was exactly clear:
len(df[(df.WEATHER=='cloudy')])

5

In [66]:
#another way:
df[(df.WEATHER=='fog')].count()[1]

12

In [68]:
#find all the unique wind speed values recorded in the dataset:
df['WIND SPEED'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33],
      dtype=int64)

In [69]:
#find the number of times when the wind speed was exactly 7km/h:
df['WIND SPEED'].value_counts()

7     5
9     4
15    3
13    3
20    2
4     2
32    2
30    1
24    1
22    1
19    1
33    1
6     1
35    1
39    1
Name: WIND SPEED, dtype: int64

In [72]:
#for most finest way
df['WIND SPEED'].value_counts()[7]

5

In [73]:
len(df[(df['WIND SPEED']==7)])

5

In [74]:
df[(df['WIND SPEED']==7)].count()

DATE/TIME           5
TEMP�               5
DREW POINT          5
REL. HUMIDITY(%)    5
WIND SPEED          5
VISIBILITY(K)       5
STN PRESSURE(P)     5
WEATHER             5
dtype: int64

In [85]:
#Get the whether and temperature columns from dataframe:
df[['WEATHER','TEMP�']].head()

                WEATHER  TEMP�
0                   Fog   -1.8
1                   Fog   -1.8
2  Freezing drizzle,fog   -1.8
3  Freezing drizzle,fog   -1.5
4                   fog   -1.5

In [89]:
#get first 20 rows from dataframe:
#df[0:20]
#df[:20]
df.head(20)

,DATE/TIME,TEMP�,DREW POINT,REL. HUMIDITY(%),WIND SPEED,VISIBILITY(K),STN PRESSURE(P),WEATHER
0,1970-01-01,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1970-01-01,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1970-01-01,-1.8,-3.4,89,7,4.0,101.26,"Freezing drizzle,fog"
3,1970-01-01,-1.5,-3.2,88,6,4.0,101.27,"Freezing drizzle,fog"
4,1970-01-01,-1.5,-3.3,88,7,4.8,101.23,fog
5,1970-01-01,-1.4,-3.3,87,9,6.4,101.27,fog
6,1970-01-01,-1.5,-3.1,89,7,6.4,101.29,fog
7,1970-01-01,-1.4,-3.6,85,7,8.0,101.26,fog
8,1970-01-01,-1.3,-3.6,85,9,8.0,101.23,fog
9,1970-01-01,-1.3,-3.1,88,15,4.0,101.20,fog
10,1970-01-01,-1.0,-2.3,91,9,1.2,101.15,fog
11,1970-01-01,-0.5,-2.1,89,7,4.0,101.98,fog
12,1970-01-01,-0.2,-2.0,88,9,4.8,101.79,fog
13,1970-01-01,0.2,-1.7,87,13,4.8,101.58,fog
14,1970-01-01,0.8,-1.1,87,20,4.8,101.31,fog
15,1970-01-01,1.8,-0.4,85,22,6.4,101.07,fog
16,1970-01-01,2.6,-0.2,82,13,12.9,99.93,mostly cloudy
17,1970-01-01,3.0,0.0,81,13,16.1,99.81,cloudy
18,1970-01-01,3.8,1.0,82,15,12.9,99.74,rain
19,1970-01-01,3.1,1.3,88,15,12.9,99.68,rain

In [140]:
#what were the first 5 pressure values recorded on jan 1:
df.loc[['1970-01-01','STN PRESSURE(P)']][:5]

KeyError: "None of [Index(['1970-01-01', 'STN PRESSURE(P)'], dtype='object')] are in the [index]"

In [120]:
#find all instances when wind speed was above 30 and visibility was 25:
df[(df['WIND SPEED']>30) & (df['VISIBILITY(K)']==25)]

,DATE/TIME,TEMP�,DREW POINT,REL. HUMIDITY(%),WIND SPEED,VISIBILITY(K),STN PRESSURE(P),WEATHER
24,1970-01-01,5.2,1.5,77,35,25.0,99.26,rain showers
25,1970-01-01,4.6,0.0,72,39,25.0,99.26,cloudy
26,1970-01-01,3.9,-0.9,71,32,25.0,99.26,mostly cloudy
27,1970-01-01,3.7,-1.5,69,33,25.0,99.30,mostly cloudy
28,1970-01-01,2.9,-2.3,69,32,25.0,99.26,mostly cloudy

In [122]:
#which where the top 10 hottest temp.values and their counts?
df['TEMP�'].value_counts().sort_values(ascending=False).head(10)

-1.5    3
-1.8    3
-1.3    2
-1.4    2
 3.2    1
 0.8    1
-1.0    1
-0.5    1
 3.0    1
 4.0    1
Name: TEMP�, dtype: int64

In [124]:
#or another way:
newdf=df['TEMP�'].value_counts().sort_values(ascending=False)
newdf.iloc[:10]

-1.5    3
-1.8    3
-1.3    2
-1.4    2
 3.2    1
 0.8    1
-1.0    1
-0.5    1
 3.0    1
 4.0    1
Name: TEMP�, dtype: int64

In [ ]:
#what is the mean temp recorded by month?
mean_temp={}
for month in range(1,13):
    mean_temp[month]=df.loc[df.index.month==month,'TEMP�'].mean()
pd.Series(mean_temp)

In [ ]:
#or pivot table:
mean_temp_df=df.pivot_table(values='TEMP�',index=df.index.month,aggfunc=np.mean)
mean_temp_df

In [ ]:
#using groupby:
mean_temp_df=df.groupby(df.index.month).agg(np.mean).reset_index()
mean_temp_df['TEMP�']

In [ ]:
#extract month name from the date and store in new column named as month:
df['Month']=df.index.month
df['Month']=df['Month'].apply(lambda x:calendar.month_name[x])

In [ ]:
#get the list of months in which it rained with thunderstorms:
def checklist(x):
    weatherlist=['rain','thunderstorm']
    count=0
    for i in weatherlist:
        if i in x:
            count+=1
        if count==2:
            return True
        else:
            return False
print("2) get the list of months in which it rained with thunderstorm\n")
rained=df['WEATHER'].str.lower().apply(checklist)
monthlist=df[rained]['Month'].unique()
print(monthlist)